name: release plugin

on: workflow_dispatch

jobs:
  release:
    runs-on: windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: setup Torch
        shell: bash
        run: |
          mkdir .TorchBinaries
          cd .TorchBinaries
          curl 'https://build.torchapi.com/job/Torch/job/master/lastSuccessfulBuild/artifact/bin/torch-server.zip' > torch.zip
          unzip torch.zip

      - name: setup DepotDownloader
        shell: bash
        run: |
          mkdir depotdownloader
          cd depotdownloader
          curl -L 'https://github.com/SteamRE/DepotDownloader/releases/download/DepotDownloader_2.5.0/depotdownloader-2.5.0.zip' > depotdownloader.zip
          unzip depotdownloader.zip

      - name: setup Space Engineers
        shell: bash
        run: |
          echo 'regex:^DedicatedServer64/' > filelist.txt
          # https://steamdb.info/app/298740/depots/
          depotdownloader/DepotDownloader.exe -app 298740 -depot 298741 -filelist filelist.txt -dir .
          mv DedicatedServer64 .GameBinaries

      - name: setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: build
        run: dotnet build --configuration Release

      - name: upload
        shell: bash
        run: |
          r=$(curl \
            -F "username=$TORCHAPI_USERNAME" \
            -F "secret=$TORCHAPI_SECRET" \
            -F 'action=update' \
            -F "uploadZip=@$PLUGIN_ZIP;type=application/x-zip-compressed" \
            -F 'updateNote=' \
            'https://torchapi.com/api/plugins/upload')
          echo "$r"
          if grep -q 'error' <<< "$r"; then
            false
          fi
        env:
          PLUGIN_ZIP: Plugin/plugin.zip
          TORCHAPI_USERNAME: ${{ secrets.TORCHAPI_USERNAME }}
          TORCHAPI_SECRET: ${{ secrets.TORCHAPI_SECRET }}
